#categories {
  display: flex;
  flex-wrap: wrap;
  gap: 7%;
  margin: 5%;
  justify-content: center;
  align-items: center;
}
.category {
    display: flex;
    flex-direction: column;
    margin: 2%;
    height: 250px;
    width: 300px;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.categoryImg{
    height: 50%;
    width: 50%;
    display: block;
    align-self: center;
}
.categoryName{
    margin-top: 20%;;
    font-size: 30px;
    text-align: center;
    align-self: center;
    text-decoration: none;
}
