.createService{
    margin: 3%;
    display: flex;
    flex-direction: column;
}
.serviceInfo{
    font-size: 24px;
    font-weight: 600;

}
.serviceInput{
    width: 20%;
    height: 22px;
    font-size: 18px;
}
select{
    height: 30px;
    width: 21%;
    font-size: 20px;
}
#description{
    height: 70px;
    width: 50%;
    font-size: 20px;
}
.createButton{
    height: 30px;
    width: 160px;
    margin-top: 2%;
    font-size: 20px;
}
