.createService{
    padding: 3%;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
}
.serviceInfo{
    font-size: 24px;
    font-weight: 600;

}
.serviceInputCreate{
    width: 40%;
    height: 22px;
    font-size: 18px;
}
.selectCreate{
    height: 30px;
    width: 40%;
    font-size: 20px;
}
#description{
    height: 70px;
    width: 70%;
    font-size: 20px;
}
.createButton{
    height: 30px;
    width: 160px;
    margin-top: 2%;
    font-size: 20px;
}
.messagePar{
    font-size: 20px;
}
