.title {
  padding: 0% 5%;
}

.homeList {
  height: auto;
  width: auto;
  gap: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 4% 7%;
  align-self: center
}
.homeListElement {
  height: 100%;

  font-size: 25px;
  font-weight: 600;
  align-items: center;
  color: #271c18;
  text-decoration: none;
  align-self: center;
}
.logoImg {
  height: 100px;
  width: 400px;
}
.menuList {
    padding: 10px;
    width: 71px;
    height: 250px;
    position: absolute;
    z-index: 12;
    right: 6px;
    background-color: #ffc527;
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 20px;
    border: 2px solid;
    top: 60px;
}
.showMenuList{
    padding: 10px;
    width: 71px;
    height: 250px;
    position: absolute;
    z-index: 12;
    right: 6px;
    background-color: #ffc527;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 20px 20px;
    border: 2px solid;
    top: 60px;
}
.mainList {
  height: 50px;
  width: 50px;
  justify-self: flex-end;
  display: none;
}
@media all and (max-width: 600px) {
  .logoImg {
    height: 70px;
    width: 150px;
  }
  .mainList {
    height: 31px;
    width: 38px;
    justify-self: flex-end;
    display: inline;
    font-size: 20px;
    align-self: center;
   
  }
  .homeList {
    
    display: none;
  }
}
