.App {
  display: grid;
  grid-template-rows: 10% auto 5%;
  
  height: 110vh;
  width: 96vw;
}

.navbar {
  display: grid;
  background-color: #ffc527;
  grid-template-columns: auto 20% 30%;
  height: 100%;
  width: 100%;
}
.mainPage {
  background-color: white;
  margin-bottom: 4%;
}
.footer {
  color: blue;
  background-color: #181818;
}
