.App {
  /* display: grid;
  grid-template-rows: 70px auto 50px;
   */

  width: 96vw;
}

.navbar {
  display: grid;
  background-color: #ffc527;
  grid-template-columns: auto 20% 30%;
  height: 70px;
  width: 100%;
  overflow: hidden;
}
.mainPage {
  margin-top: 5%;
  margin-bottom: 4%;
}
.footer {
  color: blue;
  background-color: #181818;
  align-self:flex-end;
}
