.App {
  display: grid;
  grid-template-rows: 7% auto 5%;
  border: 3px solid black;
  height: 100vh;
  width: 96vw;
}

.navbar{
  display: grid;
  background-color: aqua;
  grid-template-columns: auto 20% 30%;
  height: 100%;
  width: 100%;
  
}
.mainPage {
  background-color: red;
}
.footer {
  color: blue;
  background-color: rgb(129, 75, 8);
}
/* a {
  background-color: rgb(129, 75, 8);
} */