#search{
    display: flex;
    height: 35%;
    align-items: center;
    justify-content: center;
    gap: 10;
}
#searchInput{
    width: 70%;
    height: 85%;
    font-size: 18px;
}
#searchButton{
    height: 37px;
    font-size: 18px;
    border-left: white;
background-color: white;

}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media all and (max-width:600px){
    #searchButton{
        height: 85%;
        font-size: 18px;
        border-left: white;
    background-color: white;}
  }