.registerPage{
    padding: 2%;
    background: #f0f0f0;
}
.registerInfo{
    font-size: 21px;
    font-weight: 500;
}
.registerInput{
    font-size: 20px;
}
.buttonRegister{
font-size: 20px;
}
.messageRegister{
    font-size: 22px;
    color: rgb(204, 2, 2);
    font-weight: 600;
}